@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  min-height: 100vh;
  font-family: "Space Mono", monospace;
  background-color: hsl(185deg, 41%, 84%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}
header h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  color: hsl(183deg, 100%, 15%);
}

main {
  padding: 2rem;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 2rem;
}
@media (min-width: 50rem) {
  main {
    margin-top: 3rem;
    max-width: 56rem;
  }
}
@media (min-width: 50rem) {
  main form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 2.5rem;
  }
}
main fieldset {
  position: relative;
  border: none;
}
main fieldset #bill {
  background-image: url("../images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: 1rem;
}
main fieldset #people {
  background-image: url("../images/icon-person.svg");
  background-repeat: no-repeat;
  background-position: 1rem;
}
main fieldset:not(:last-child) {
  margin-bottom: 2rem;
}
main fieldset legend {
  margin-bottom: 0.75rem;
  color: hsl(186deg, 14%, 43%);
}
main fieldset input[type=number] {
  outline: none;
  border: 2px solid hsl(189deg, 41%, 97%);
  background-color: hsl(189deg, 41%, 97%);
  border-radius: 0.5rem;
  font-family: "Space Mono", monospace;
  color: hsl(183deg, 100%, 15%);
  padding: 0.25rem 0.75rem;
  font-size: 24px;
  text-align: right;
  width: 100%;
}
main fieldset input[type=number]:focus {
  border-color: #9de9df;
  caret-color: #9de9df;
}
main fieldset input[type=number]::-moz-placeholder {
  color: hsl(184deg, 14%, 56%);
}
main fieldset input[type=number]:-ms-input-placeholder {
  color: hsl(184deg, 14%, 56%);
}
main fieldset input[type=number]::placeholder {
  color: hsl(184deg, 14%, 56%);
}
main .tips-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.1rem;
}
@media (min-width: 50rem) {
  main .tips-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
main .tips-container label {
  border-radius: 0.5rem;
  padding: 0.25rem 0;
  font-size: 24px;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(183deg, 100%, 15%);
  text-align: center;
  cursor: pointer;
  border: 2px solid hsl(183deg, 100%, 15%);
}
main .tips-container label:hover {
  background-color: #9de9df;
  color: hsl(183deg, 100%, 15%);
  border-color: #9de9df;
}
main .tips-container input[type=radio] {
  display: none;
}
main .tips-container input[type=radio]:checked + label {
  background-color: hsl(172deg, 67%, 45%);
  color: hsl(183deg, 100%, 15%);
  border-color: hsl(172deg, 67%, 45%);
}
main .tips-container #custom::-moz-placeholder {
  color: var(--r, hsl(186deg, 14%, 43%));
}
main .tips-container #custom:-ms-input-placeholder {
  color: var(--r, hsl(186deg, 14%, 43%));
}
main .tips-container #custom::placeholder {
  color: var(--r, hsl(186deg, 14%, 43%));
}
main .summary-container {
  background-color: hsl(183deg, 100%, 15%);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  gap: 1.5rem;
}
@media (min-width: 50rem) {
  main .summary-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 2.5rem 2rem;
    gap: 3rem;
  }
}
main .summary-container .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
main .summary-container .row .col {
  display: flex;
  flex-direction: column;
}
main .summary-container .row .col h2 {
  font-size: 1rem;
  color: hsl(0deg, 0%, 100%);
}
main .summary-container .row .col p {
  font-size: 0.8rem;
  color: hsl(184deg, 14%, 56%);
}
main .summary-container .row span {
  font-size: 30px;
  color: hsl(172deg, 67%, 45%);
}
@media (min-width: 50rem) {
  main .summary-container .row span {
    font-size: 40px;
  }
}
main .summary-container button {
  border: none;
  border-radius: 0.3rem;
  font-family: "Space Mono", monospace;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0.3rem 0;
  background-color: hsl(172deg, 67%, 45%);
  color: hsl(183deg, 100%, 15%);
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.349);
}
main .summary-container button:hover {
  background-color: #9de9df;
}
@media (min-width: 50rem) {
  main .summary-container button {
    margin: auto 0 0 0;
  }
}
main .summary-container button.inactive {
  cursor: not-allowed;
  opacity: 0.2;
}
main .summary-container button.inactive:hover {
  background-color: hsl(172deg, 67%, 45%);
}

footer {
  background-color: hsl(185deg, 41%, 84%);
  font-size: 0.8rem;
  text-align: center;
  color: hsl(186deg, 14%, 43%);
}
footer a {
  color: hsl(183deg, 100%, 15%);
}
@media (min-width: 50rem) {
  footer {
    margin-top: 3rem;
  }
}

.error {
  display: none;
  position: absolute;
  color: indianred;
  right: 0;
}

.error-border {
  border-color: indianred;
}/*# sourceMappingURL=main.css.map */