*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}
body {
	min-height: 100vh;
	font-family: $ffamily;
	background-color: $neutral100;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
