@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

//Colors
$primary200: hsl(172, 67%, 45%);


$neutral400: hsl(183, 100%, 15%);
$neutral200: hsl(186, 14%, 43%);
$neutral150: hsl(184, 14%, 56%);
$neutral100: hsl(185, 41%, 84%);
$neutral50: hsl(189, 41%, 97%);
$neutral0: hsl(0, 0%, 100%);


//Fonts
$fsize: 24px;
$ffamily: 'Space Mono', monospace;
$fw-bold: 700;
